body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-size: 1.6em;
    margin: 0 0 20px 0;
}

/* HEADER */
header {
    background: #E32636;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #FFF;
    margin: 20px;
}

ul {
    padding: 0;
}

header ul {
    display: flex;
    list-style: none;
    margin: 20px;
    line-height: 50px;
    color: #FFF;
}

header li a {
    margin-right: 20px;
    color: #FFF;
    text-decoration: none;
}

/* FEATURES */

.features {
    text-align: center;
    margin: 20px 0 0 0;
}

.features strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
}

.features p {
    margin: 15px 0;
    font-size: 1.1em;
}

/* LAST ADDED MOVIE */
.added-movie {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.added-movie iframe {
    width: 100%;
    max-width: 560px;
}

/* PRICING*/
.pricing {
    margin: 30px 0 0 0;
}

.list-pricing {
    display: flex;
    justify-content: center;
}

.basic, .standart, .prenium {
    margin: 0 30px;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    min-width: 300px;
    border: 1px solid #DDD;
}

@media (max-width: 1050px) {
    .list-pricing {
        flex-direction: column;
        align-items: center;
    }

    .basic, .prenium, .standart {
        margin-bottom: 20px;
    }
}

.list-pricing h3 {
    background: #e50914;
    margin: 0;
    line-height: 50px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.list-pricing p {
    background: #aaa;
    margin: 0;
    line-height: 50px;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.list-pricing ul {
    list-style: none;
    margin: 20px 0;
}

.list-pricing li {
    margin-bottom: 10px;
    text-align: center;
}

/* EMAIL */
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.submitbutton {
text-align: center;
}

button {
    width: 80px;
    margin: .5em;
    font-size: 1em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

/* FOOTER */
footer {
    background: #E32636;
    height: 50px;
    text-align: center;
    color: 	#FFF;
    bottom: 0;
    padding: 10px;
}